* {
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: fit-content;
    overflow-x: hidden;
    font-family: 'Titillium Web', sans-serif;
}
.all{
    width: 97vw;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



                         /* HEADER */

.header{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.navbar{
    width: 100%;
    height: fit-content;
}


                           /* BODY */

.body{
    width: 100%;
    height: auto;
}
     
/* MOBILE */

.points{
    display: flex;
    flex-direction: row;
    padding: 30px 0px;
    justify-content: space-around;
    margin-top: 20px;
}
.description-points{
    width: 60%;
    margin-left:30px ;
}
.point{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(145,129,145);
    margin: 15px 0px;
    padding: 20px;
}
.number{
    font-size: 60px;
    font-weight: 700;
    margin: 0px 20px;
    color: rgb(145,129,145);
}
.info{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.info h3{
    font-size: 19px;
    margin-bottom: 15px ;
}
.info p{
    font-size: 14px;
    color: rgb(145,129,145);
}
#infos{
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    align-items: flex-start;
    margin: 20px 0px;
}
#infos img{
    width: 150px;
    height: 70px;
}

.phone{
    width: fit-content;
    height: 660px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 20px;
}

  .iphone-x {
    position: relative;
    margin: auto;
    width: 350px;
    height: 650px;
    background-color: #7371ee;
    background-image: linear-gradient(60deg, #7371ee 1%,#a1d9d6 100%);
    border-radius: 40px;
    box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111;
    z-index: 0;
  }
    
    .iphone-x::before,
    .iphone-x::after{
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    
    .iphone-x i,
    b,
    s,
    span {
      position: absolute;
      display: block;
      color: transparent;
    }
    
    .iphone-x i,.iphone-x b{
     z-index: 1;
    }
    .mobslide{
     width: 100%;
     height: 100%;
     border-radius: 40px;
    }
    .mobslide .carousel-inner .carousel-item{
        width: 100%;
        height: 100%;
    } 
    .mobslide .carousel-inner{
        border-radius: 40px !important;
    }
    .mobslide .carousel-inner .carousel-item .d-block{
        width: 100%;
        height: 650px;
    }

    .iphone-x i {
      top: 0px;
      left: 50%;
      transform: translate(-50%, 6px);
      height: 8px;
      width: 15%;
      background-color: #101010;
      border-radius: 8px;
      box-shadow: inset 0px -3px 3px 0px rgba(256, 256, 256, 0.2);
    }
    
    b {
      left: 10%;
      top: 0px;
      transform: translate(180px, 4px);
      width: 12px;
      height: 12px;
      background-color: #101010;
      border-radius: 12px;
      box-shadow: inset 0px -3px 2px 0px rgba(256, 256, 256, 0.2);
    }
    s {
      top: 50px;
      color: #fff;
      text-align: center;
      text-decoration: none;
      width: 100%;
      font-size: 70px;
      font-weight: 100;
      padding-top: 60px;
    }



    /* OFFER POSTER */

    .offers{
   width: 100%;
   padding-left: 30px;
   position: relative;
   bottom: 30px;
    }
    .offers h3{
        font-weight: 700;
        font-size: 24px;
        font-weight: 700;
    }
    .offers-poster{
        width: 100%;
        height: fit-content;
    }
    .offers-poster img{
        width: 100%;
        height: auto;
    }



    /* Porters services */

.porters{
    width: 100%;
    height: fit-content;
    margin: 50px 30px;
}
    .porters h3{
        font-weight: 700;
        font-size: 24px;
        font-weight: 700;
    }

    .poster-images{
        display: flex;
        width: 90%;
        margin: auto;
        overflow-x: scroll;
        overflow-y: hidden;
        text-align: center;
        font-weight: 700;
        color: blue;
    }
    
    .poster-images::-webkit-scrollbar {
        display: none;
      }
    



      /* single image */

.adds{
    width: 100%;
    height: fit-content;
    background-color: rgb(246,244,254);
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
}
      .add{
          width: 55%;
          margin:40px auto;
          text-align: left;
          padding: 30px 20px;
      }
      .add:hover{
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      }
      .add img{
          width: 100%;
          height: auto;
      }
      .add h3 {
          margin: 30px 0px;

      }
      .add p {
          margin: 30px 0px;
      }
      .add button{
          color: white;
          font-weight: 700;
          background: #8E2DE2;  /* fallback for old browsers */
          background: -webkit-linear-gradient(to left, #4A00E0, #5a4d66);  /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to left, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          margin: 30px 0px;
          padding: 8px 10px;
          border: none;
          border-radius: 10px;
                }

                
.our-info{
    width: 100%;
    height: fit-content;
    background: #8E2DE2;  /* fallback for old browsers */
          background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to left, #4A00E0, #8E2DE2);
}
.our-info h4{
    text-align: center;
    color: white;
    margin: 20px auto;
    padding: 30px 0px;
}
.our-in{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    color: white;
    margin: 40px 0px;
}




.people{
    width: 100%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.people h3{
                    font-weight: 700;
                    font-size: 24px;
                    font-weight: 700;
                    margin: 40px 0px 20px 0px;
}
.people-img{
    width: 100%;
    height: fit-content;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
}
.people img{
    width: 80%;
}




    /* ACCORDION */
    .accorbody{
        width: 100%;
        height: fit-content;
        padding: 10px;
        font-family: 'Titillium Web', sans-serif;
        background: rgb(250,250,250);
        padding: 20px;
    }
    .accorbody h3{
        font-weight: 700;
        font-size: 24px;
        margin-left: 30px;
    }
    .accorbody .hr{
        margin-left: 30px;
    }
  .accordion{
      width: 60%;
      margin: auto;
      margin: 10px auto 25px auto;
  }
  .hr{
      width: 30px;
      height: 5px;
      background: #4568DC;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            border-radius: 10px;
            margin: 15px 0px;
  }



/* FAQs */

.faqs{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px 0px;
    background-color: rgb(237,233,253);
}
.img{
    width: 100px;
    height: 100px;
    margin: 0px 20px;
}
.img img{
   width: 90%;
   height: 90%;
}
.qusetions{
  display: flex;
  flex-direction: column;
}
.qusetions h3, .offers h3{
        font-size: 23px;
        margin-bottom: 15px;
}
.qusetions button{
    width: fit-content;
    height: fit-content;
    padding: 10px 15px;
    background-color: rgb(58,58,58);
    border: none;
    border-radius: 10px;
}
.qusetions a{
    color: white;
    text-decoration: none;
}






                           /* FOOTER */


.knowus{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgb(0,0,0);
    color: white;
    padding-top: 25px;
    font-family: 'Titillium Web', sans-serif;
}
.knowus h3{
    font-size: 17px;
    margin-bottom: 20px;
    color: white;
    font-weight: 700;
}
#porter{
    font-size: 32px;
}
.knowus ul{
    font-size: 14px;
    width: 170px;
    height: 170px;
    text-align: start;
    color: white;
    list-style: none;
}
.porter li{
    font-size: 22px;
}
.knowus li{
    margin-bottom: 8px;
    margin: 15px 0px;

}
.knowus li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.knowus li a:hover{
    color: orange;
}
#dowapp{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    align-items: flex-start;
}
#sociallink{
    display: flex;
    flex-direction: column;
}
#img-1, #img-2{
     width: 200px;
     height: 80px;
}


/* last-row */
.last-foot{
    background-color: rgb(0,0,0);
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.last-foot img{
    height: auto;
}
.last-foot:hover{
    cursor: not-allowed;
}
#sociallink{
    display: flex;
    flex-direction: row;
}
#sociallink i{
    width: 40px;
    font-size: 25px;
    color: white;
    margin: 0px 30px;
}
.text{
    color: white;
}
