* {
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: fit-content;
    overflow-x: hidden;
    font-family: 'Titillium Web', sans-serif;
}
.all{
    width: 96vw;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.navbar{
    width: 99vw;
    height: fit-content;
    margin: auto;
    /* margin-left: 30px; */
    position: sticky;
}
.navbar img{
    width: 100%;
    height: fit-content;
}
.nav-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98vw;
    padding: 5px 0px;
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.nav-2 > div{
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: space-around;
}
.nav-2 > div > div , .nav-2 > div > p{
    margin: 0px 15px;
}

.nav-2 > div > div:hover , .nav-2 > div > p:hover{
    font-weight: 700;
    border-bottom: 2px solid blue;
    color: blue;
}



.driver-poster{
    display: flex;
    flex-direction: column;
}
.driver-poster img{
    width: 100%;
    height: 600px;
}
.entries{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height:500px ;
    position: absolute;
    right: 60px; 
    top: 180px;
    padding: 10px;
    text-align: center;
}
.entries img{
    width:180px ;
    height: 70px;
}
.entries h2{
    font-size: 22px;
    margin: 10px;
    font-weight: 700;
}
form{
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: white;
    padding: 15px 10px 15px 10px;
}
form input{
    padding: 10px 130px 10px 10px;
    margin: 10px;
}
form button{
    font-weight: 600;
    background: blue;
    color: white;
    margin: 20px 0px 0px 0px;
    padding: 15px;
    border: none;
    width: 100%;
}

.text{
    position: relative;
    bottom: 130px;
    left: 50px;
}

.text h1{
    color: rgb(94,11,224);
    font-size: 41px;
    margin: 10px 0px;
}
.text p{
    font-size: 24px;
    font-weight: 100;
    margin: 10px 0px;
    color: black;
}





.stactic-poster{
    width: 100%;
    height: auto;
    position: relative;
    bottom: 100px;
}
.stactic-poster .img{
    width: 100%;
    margin: auto;
}
.video{
    width: 470px;
    height: 260px;
    position: relative;
    bottom: 300px;
    left: 260px;
}
.benefits{
    margin-top: -300px;
}
           
.benefits img, .people img{
    width: 96%;
    margin-left: 60px;
}
.benefits h3, .people h3 ,.own h3{
    font-weight: 700;
        font-size: 24px;
        margin-left: 50px;
}
.hr{
    width: 30px;
    height: 5px;
    background: #4568DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          border-radius: 10px;
          margin: 15px 50px;
}




.own{
    margin: 50px 0px;
    width: 100%;   
}
.ace-tempo{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px auto;
}
.ace-pic{
    width: 60%;
    margin: 0px 20px;
}
.own .texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.texts p{
    color: rgb(162,129,129);
    margin: 15px 0px;
    font-size: 14px;
}
.contact-us{
        color: white;
        font-weight: 700;
        background: #8E2DE2;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #4A00E0, #5a4d66);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        margin: 30px 0px;
        padding: 20px 20px;
        border: none;
        border-radius: 5px;
        width: fit-content;
        height: fit-content;
              }





              /* ACCORDION */
              .accorbody{
                width: 100%;
                height: fit-content;
                padding: 10px;
                font-family: 'Titillium Web', sans-serif;
                background: rgb(250,250,250);
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 50px 0px;
            }
            .accorbody h3{
                font-weight: 700;
                font-size: 24px;
                margin-left: 30px;
            }
            .accordion{
                width: 60%;
                margin: auto;
                margin: 10px auto 25px auto;
            }
          


            /* FOOTER */
            .knowus{
                height: fit-content;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: flex-start;
                background-color: rgb(0,0,0);
                color: white;
                padding-top: 25px;
                font-family: 'Titillium Web', sans-serif;
            }
            .knowus h3{
                font-size: 17px;
                margin-bottom: 20px;
                color: white;
                font-weight: 700;
            }
            #porter{
                font-size: 32px;
            }
            .knowus ul{
                font-size: 14px;
                width: 170px;
                height: 170px;
                text-align: start;
                color: white;
                list-style: none;
            }
            .porter li{
                font-size: 20px;
            }
            .knowus li{
                margin-bottom: 8px;
                margin: 15px 0px;
            
            }
            .knowus li a{
                color: white;
                text-decoration: none;
                font-size: 15px;
            }
            .knowus li a:hover{
                color: orange;
            }
            #dowapp{
                display: flex;
                flex-direction: column;
                margin: 10px 0px;
                align-items: flex-start;
            }
            #sociallink{
                display: flex;
                flex-direction: column;
            }
            #img-1, #img-2{
                 width: 200px;
                 height: 80px;
            }
            
            
            /* last-row */
            .last-foot{
                background-color: rgb(0,0,0);
                width: 100%;
                height: 50px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
            .last-foot img{
                height: auto;
            }
            .last-foot:hover{
                cursor: not-allowed;
            }
            #sociallink{
                display: flex;
                flex-direction: row;
            }
            #sociallink i{
                width: 40px;
                font-size: 25px;
                color: white;
                margin: 0px 30px;
            }
            .ladt-text p{
                color: white;
            }
            



            /* TRACKER */
.screen-div{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    width: 100vw;
    height:90vh;
}
.track-order{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 400px;
    margin: auto;
    margin-top: 200px;
}
.track-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
    border-bottom: 1px solid rgb(196,196,196);
    margin-top: 10px;
}

.track-head img, .caller-icon{
    width: 20px;
    height: 20px;
}
.inputs{
    display: flex;
    flex-direction: column;
}
.inputs input{
    width: 80%;
    padding: 10px 15px;
    margin: 20px auto;
}
.inputs button{
    background-color: rgb(41,98,255);
    color: white;
    font-weight: 700;
    border: none;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
}


.track-foot{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top:  1px solid rgb(196,196,196);
    padding: 15px 0px;
}

#submitform{
    position: relative;
}
#showthank{
    display: none;
    z-index: 5;
    background-color: white;
    height:440px;
    width:370px;
    position: absolute;
    top:-10%;
    padding: 100px;
}

#submit11{
    padding-left: 33%;
    color: #4568DC;
    background-color: white;
    border: 1px solid blue;
}

#submit11:hover{
    color: white;
    background-color: #4568DC;
}
#insibut{
    color: #4568DC;
    background-color: white;
    border: 1px solid blue;
}
#insibut:hover{
    color: white;
    background-color: #4568DC;
}

