* {
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: fit-content;
    overflow-x: hidden;
    font-family: 'Titillium Web', sans-serif;
}
.all{
    width: 96vw;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
}


.navbar{
    width: 99vw;
    height: fit-content;
    margin: auto;
}
.navbar img{
    width: 100%;
    height: fit-content;
}
.nav-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99vw;
    padding: 5px 0px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.nav-2 > div{
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: space-around;
}
.nav-2 > div > div , .nav-2 > div > p{
    margin: 0px 15px;
}

.nav-2 > div > div:hover , .nav-2 > div > p:hover{
    font-weight: 700;
    border-bottom: 2px solid blue;
    color: blue;
}

.posters{
    width: 100%;
}
.posters img{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.poster-scrrenshot{
   width: 100%;
   margin: auto;
   background-color: rgb(237,234,253);
}
.poster-scrrenshot img{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
}



form{
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: white;
    padding: 15px 10px 15px 10px;
    border-radius: 10px;
    position: absolute;
    top: 200px;
    right: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}
form input{
    padding: 10px 130px 10px 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid rgb(196,196,196);
}
form button{
    font-weight: 600;
    background: blue;
    color: white;
    margin: 20px 0px 0px 0px;
    padding: 15px;
    border: none;
    width: 100%;
    border-radius: 5px;
}



.cities{
    width: 70%;
    height: fit-content;
    text-align: center;
    margin: auto;
}
.cities h3{
font-weight: 700;
font-size: 24px;
margin: 50px 0px 20px 0px; 
}

.hr{
    width: 30px;
    height: 5px;
    background: #4568DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          border-radius: 10px;
          /* margin: 15px 50px; */
          margin: 20px auto;
}
.cities p{
    color: rgb(114, 114, 114);
    font-size: 14px;
}
/* CITIES */
#transforming_cities{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 20px 0px;
    padding: 50px 0px 50px 50px;
 }
 #transforming_design{
        background-color:rgb(63, 62, 242) ;
     width: 30px;
     height: 4px;
     border-radius: 8px;
         /* margin-left: 40px; */
        
 }
 
 #transforming_images{
     display: grid;
     grid-template-columns: repeat(8,150px);
     row-gap: 50px;
        height: auto;
        width: 80%;
        align-self: left;
        padding: 40px 0px;
 
 }
 #transforming_images div{
     width: 75%;
     height: 100px;
   text-align: center;
 
 }
 #transforming_images img{
     width: 85%;
     height: 85%;
     filter: grayscale(1);
 }
 #transforming_images img:hover{
     /* width: 90%; */
     filter: grayscale(0);
 }
 #header_text{
     font-size: 21px;
     padding-top: 30px;
     color: rgb(97, 95, 95);
     font-family: 'Titillium Web', sans-serif;
        font-weight: 10;
        margin-left: 25px;
 }
 #transforming_images div p{
     /* margin: 0; */
     padding: 0;
     width: 100%;
     text-align: center;
     /* border: 1px solid black; */
  
    margin-top: 10px;
    margin-bottom: 10px;
    color: gray;
    font-weight: 600px;
   
 }
 #transforming_images div {
     padding-top: 10px;
      padding-bottom: 10px;
      justify-content: center;
      margin: auto;
      cursor: pointer;
 }
 #transforming_images div div{
 
     border: 0.5px solid gray;
     border-radius: 20px;
 }
 #transforming_images div div:hover{
    border-color: blue;
 }
 #transforming_header_text {
        font-family: 'Titillium Web', sans-serif;
        font-size: 20px;
            font-weight: 700;
     color: #212121;
     padding-bottom: 20px;
 }






.our-info{
    width: 100%;
    height: fit-content;
    background: #8E2DE2;  /* fallback for old browsers */
          background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to left, #4A00E0, #8E2DE2);
          padding: 15px 0px;
          margin: 20px 0px;
}
.our-info h4{
    text-align: center;
    color: white;
    margin: 40px auto;
    font-size: 25px;
}
.our-in{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    color: white;
    margin: 40px 0px;
}

.company-info h3, .full-img h3{
    font-weight: 700;
font-size: 24px;
margin: 50px 0px 0px 50px; 
}

.company-info .hr, .full-img .hr{
    width: 30px;
    height: 5px;
    background: #4568DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          border-radius: 10px;
          margin: 15px 50px;
}

.cards{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cards img{
    width: 350px;
    height: 400px;
}


.full-img{
    width: 100%;
    height: fit-content;
}
.full-img img{
    width: 100%;
    background-color: white;
}



.cardd-img{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin: 50px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    cursor: pointer;
}
.cardd-img img{
    width: 100%;
    height: 100%;
}
.cardd-img .information{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 30px;
}
.cardd-img .information .hr{
    width: 40px;
    height: 5px;
    background: #4568DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    margin: 40px 0px;
}
.information h3{
    font-size: 23px;
}
.information p{
    margin: 40px 0px;
    color: rgb(129,145,182);
    font-size: 15px;
}
.information button{
    background: #4568DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC);
    padding: 10px 30px;
    width: fit-content;
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin: 40px 0px;
}




  /* ACCORDION */
  .accorbody{
    width: 100%;
    height: fit-content;
    padding: 10px;
    font-family: 'Titillium Web', sans-serif;
    background: rgb(250,250,250);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}
.accorbody h3{
    font-weight: 700;
    font-size: 24px;
    margin-left: 30px;
}
.accordion{
    width: 60%;
    margin: auto;
    margin: 10px auto 25px auto;
}



/* FOOTER */
.knowus{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgb(0,0,0);
    color: white;
    padding-top: 25px;
    font-family: 'Titillium Web', sans-serif;
}
.knowus h3{
    font-size: 17px;
    margin-bottom: 20px;
    color: white;
    font-weight: 700;
}
#porter{
    font-size: 32px;
}
.knowus ul{
    font-size: 14px;
    width: 170px;
    height: 170px;
    text-align: start;
    color: white;
    list-style: none;
}
.porter li{
    font-size: 20px;
}
.knowus li{
    margin-bottom: 8px;
    margin: 15px 0px;

}
.knowus li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.knowus li a:hover{
    color: orange;
}
#dowapp{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    align-items: flex-start;
}
#sociallink{
    display: flex;
    flex-direction: column;
}
#img-1, #img-2{
     width: 200px;
     height: 80px;
}


/* last-row */
.last-foot{
    background-color: rgb(0,0,0);
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.last-foot img{
    height: auto;
}
.last-foot:hover{
    cursor: not-allowed;
}
#sociallink{
    display: flex;
    flex-direction: row;
}
#sociallink i{
    width: 40px;
    font-size: 25px;
    color: white;
    margin: 0px 30px;
}
.ladt-text p{
    color: white;
}



      /* TRACKER */
      .screen-div{
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.2);
        width: 100vw;
        height:90vh;
    }
    .track-order{
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 380px;
        height: 400px;
        margin: auto;
        margin-top: 200px;
    }
    .track-head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 15px;
        align-items: center;
        border-bottom: 1px solid rgb(196,196,196);
        margin-top: 10px;
    }
    
    .track-head img, .caller-icon{
        width: 20px;
        height: 20px;
    }
    .inputs{
        display: flex;
        flex-direction: column;
    }
    .inputs input{
        width: 80%;
        padding: 10px 15px;
        margin: 20px auto;
    }
    .inputs button{
        background-color: rgb(41,98,255);
        color: white;
        font-weight: 700;
        border: none;
        width: 90%;
        margin: 10px auto;
        padding: 10px;
    }
    
    
    .track-foot{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-top:  1px solid rgb(196,196,196);
        padding: 15px 0px;
    }

    #submit11{
        padding-left: 25%;
        color: #4568DC;
        background-color: white;
        border: 1px solid blue;
    }
    
    #submit11:hover{
        color: white;
        background-color: #4568DC;
    }
    #insibut{
        color: #4568DC;
        background-color: white;
        border: 1px solid blue;
    }
    #insibut:hover{
        color: white;
        background-color: #4568DC;
    }
    #showthank{
        display: none;
        z-index: 5;
        background-color: white;
        height:540px;
        width:370px;
        position: absolute;
        top:25%;
        right:4%;
        padding: 100px;
    }
    /* #submitform{
        position: relative;
    }
    #showthank{
        display: none;
        z-index: 5;
        background-color: white;
        height:440px;
        width:370px;
        position: absolute;
        top:-10%;
        padding: 100px;
    }
    
    #submit11{
        padding-left: 33%;
        color: #4568DC;
        background-color: white;
        border: 1px solid blue;
    }
    
    #submit11:hover{
        color: white;
        background-color: #4568DC;
    }
    #insibut{
        color: #4568DC;
        background-color: white;
        border: 1px solid blue;
    }
    #insibut:hover{
        color: white;
        background-color: #4568DC;
    } */
    
    