* {
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: fit-content;
    overflow-x: hidden;
    font-family: 'Titillium Web', sans-serif;
}
.all{
    width: 96vw;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar{
    width: 99vw;
    height: fit-content;
    margin: auto;
    /* margin-left: 30px; */
    position: sticky;
}
.navbar img{
    width: 100%;
    height: fit-content;
}
.nav-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98vw;
    padding: 5px 0px;
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.nav-2 > div{
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: space-around;
}
.nav-2 > div > div , .nav-2 > div > p{
    margin: 0px 15px;
}

.nav-2 > div > div:hover , .nav-2 > div > p:hover{
    font-weight: 700;
    border-bottom: 2px solid blue;
    color: blue;
}



.driver-poster{
    display: flex;
    flex-direction: column;
}
.driver-poster img{
    width: 100%;
    height: 600px;
}
.entries{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height:550px ;
    position: absolute;
    right: 60px; 
    top: 160px;
    padding: 10px;
    text-align: center;
    /* border: 1px solid red; */
    background-color: white;
}
.entries img{
    width:180px ;
    height: 70px;
}
.entries h2{
    font-size: 22px;
    margin: 10px;
    font-weight: 700;
 
}



/* .entries>div{
    /* display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: white;
    padding: 15px 10px 15px 10px; */


.entries>div>input,.entries>div>select,.entries>div>div>input{
    padding: 10px 130px 10px 10px;
    margin: 10px;
}
form button{
    font-weight: 600;
    background: blue;
    color: white;
    margin: 20px 0px 0px 0px;
    padding: 15px;
    border: none;
    width: 100%;
}

.text{
    position: absolute;
    top: 140px;
    left: 70px;
}

.text h2{
    margin: 20px 0px;
    font-weight: 600;
}
.text strong{
    font-size: 28px;
    font-weight: 700;
    margin: 10px 10px;
    color: black;
}
.text p{
    font-size: 22px;
}




.benefits, .porter-working{
  width: 100%;
  height: fit-content;
  margin: 50px 0px;
}
           
.benefits img{
    width: 96%;
    margin-left: 60px;
}
.porter-working img{
    width: 100%;
    height: auto;
    margin: 30px 0px;
}
.benefits h3,.porter-working h3{
    font-weight: 700;
        font-size: 24px;
        margin-left: 50px;
    }

    .benefits h4{
        margin: 20px 50px;
    }

.benefits p{
    margin-left: 50px;
 color: rgb(79,79,113);
}
.benefits .frame{
    width: 100%;
    margin: 30px auto;
}
.hr{
    width: 30px;
    height: 5px;
    background: #4568DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          border-radius: 10px;
          margin: 15px 50px;
}





              /* ACCORDION */
              .accorbody{
                width: 100%;
                height: fit-content;
                padding: 10px;
                font-family: 'Titillium Web', sans-serif;
                background: rgb(250,250,250);
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 50px 0px;
            }
            .accorbody h3{
                font-weight: 700;
                font-size: 24px;
                margin-left: 30px;
            }
            .accordion{
                width: 60%;
                margin: auto;
                margin: 10px auto 25px auto;
            }
          


            
            /* FOOTER */
            .knowus{
                height: fit-content;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: flex-start;
                background-color: rgb(0,0,0);
                color: white;
                padding-top: 25px;
                font-family: 'Titillium Web', sans-serif;
            }
            .knowus h3{
                font-size: 17px;
                margin-bottom: 20px;
                color: white;
                font-weight: 700;
            }
            #porter{
                font-size: 32px;
            }
            .knowus ul{
                font-size: 14px;
                width: 170px;
                height: 170px;
                text-align: start;
                color: white;
                list-style: none;
            }
            .porter li{
                font-size: 20px;
            }
            .knowus li{
                margin-bottom: 8px;
                margin: 15px 0px;
            
            }
            .knowus li a{
                color: white;
                text-decoration: none;
                font-size: 15px;
            }
            .knowus li a:hover{
                color: orange;
            }
            #dowapp{
                display: flex;
                flex-direction: column;
                margin: 10px 0px;
                align-items: flex-start;
            }
            #sociallink{
                display: flex;
                flex-direction: column;
            }
            #img-1, #img-2{
                 width: 200px;
                 height: 80px;
            }
            
            
            /* last-row */
            .last-foot{
                background-color: rgb(0,0,0);
                width: 100%;
                height: 50px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
            .last-foot img{
                height: auto;
            }
            .last-foot:hover{
                cursor: not-allowed;
            }
            #sociallink{
                display: flex;
                flex-direction: row;
            }
            #sociallink i{
                width: 40px;
                font-size: 25px;
                color: white;
                margin: 0px 30px;
            }
            .ladt-text p{
                color: white;
            }
            


            /* TRACKER */
.screen-div{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    width: 100vw;
    height:90vh;
}
.track-order{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 400px;
    margin: auto;
    margin-top: 200px;
}
.track-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
    border-bottom: 1px solid rgb(196,196,196);
    margin-top: 10px;
}

.track-head img, .caller-icon{
    width: 20px;
    height: 20px;
}
.inputs{
    display: flex;
    flex-direction: column;
}
.inputs input{
    width: 80%;
    padding: 10px 15px;
    margin: 20px auto;
}
.inputs button{
    background-color: rgb(41,98,255);
    color: white;
    font-weight: 700;
    border: none;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
}


.track-foot{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top:  1px solid rgb(196,196,196);
    padding: 15px 0px;
}


                         /* @media screen */

@media screen and (max-width: 800px) { 
    body{
        width: 800px;
        height: fit-content;
        overflow-x: hidden;
        font-family: 'Titillium Web', sans-serif;
    }
    .all{
        width: 800px;
        margin: auto;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        overflow: hidden;
    }
    .navbar{
        width: 100%;
        overflow-x: hidden;
    }
    .nav-2{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: fit-content;
    }
    .driver-poster{
        display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    }
    .driver-poster img{
        display: none;
    }
    .text{
        display: none;
    }
    .entries{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        text-align: center;
        position: relative;
        top: 30px;
        margin: 20px auto;
    }
    .benefits{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .benefits img{
        width: 100%;
        margin: 0px;
    }
    .fitt{
        display: none;
    }




    .footer{
        width: 100%;
        margin: auto;
    }
    #know3{
        display: none;
    }
    .last-foot{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .last-foot > div{
       margin: 20px auto;
    }

    #showsrc,#showdes{
        background-color: white;
        z-index: 3;
    }


}